- content_for :css_head do
  = stylesheet_link_tag "stecms_appointment/application"
.container-fluid.mt-5
  .row
    .col.col-sm-3.col-lg-2
      =render 'stecms_appointment/shared/side_menu'
      
    .col.col-sm-9.col-lg-10
      =yield
