<!DOCTYPE html>
<html>
<head>
  <title>StecmsAppointment</title>
  <%= stylesheet_link_tag    "stecms_appointment/application", media: "all" %>
  <%= javascript_include_tag "stecms_appointment/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
