=render layout: "stecms_appointment/shared/panel" do

  =render_card_box title: "Service Category", collapse: false do
    =link_to StecmsAppointment::Engine.routes.url_helpers.new_service_category_path, class: 'btn btn-primary btn-sm' do
      %i.fa.fa-paper-plane
      =t("admin.words.new")

    .table-responsive
      %table.table.table-condensed.mt-3
        %thead
          %tr
            %th= "Title"
            %th

        %tbody
          - if @collection.present?
            - @collection.each do |item|
              %tr{id: "service-category-#{item.id}"}
                %td=item.title
                %td
                  =link_to t("admin.words.edit"), StecmsAppointment::Engine.routes.url_helpers.edit_service_category_path(item), class: 'mr-2'
                  =link_to t("admin.words.show"), StecmsAppointment::Engine.routes.url_helpers.service_category_path(item), class: 'text-info mr-2', remote: true
                  =link_to t("admin.words.delete"), StecmsAppointment::Engine.routes.url_helpers.service_category_path(item), method: :delete, class: 'text-danger', remote: true, data: { confirm: t("admin.rpush_web.settings.index.delete", app_name: item.title) }
